* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #000;
  width: 100%;
  height: 100vh;
}

.bg-image {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url("./img/background.png");
  filter: blur(8px) brightness(65%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.instruction {
  width: 1024px;
  height: 200px;
  margin: 10px 0;
  background-image: url("./img/instruction.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

canvas {
  box-shadow: 0 0 10px #000;
}
